/* background colors and images */

body {
  background: #161F1F;
}

#middlecontainer {
  border: solid 1px #396271;
}

header#header {
  background: #34A5D3 url(../images/blue/MastheadBG.png) repeat-x;
}

header#header .mastheadRight {
  background: url(../images/blue/MastheadRight.png) 100% 0 repeat-y;
}

header#header .mastheadLeft {
  background: url(../images/blue/MastheadLeft.png) 0 0 repeat-y;
}

.topWrapper,
.bottomWrapper {
  background-color: #185F82;
}

.colorsection {
  background: #396271 url(../images/blue/ColorBoxBG.png) repeat-x;
}

.topleft1,
.bottomleft1,
.topright1,
.bottomright1 {
  width: 5px; height: 5px;
} 

.topleft1 {
  background-image: url(../images/blue/ColorBoxTopLeft.png);
}
.topright1 {
  background-image: url(../images/blue/ColorBoxTopRight.png);
}
.bottomleft1 {
  background-image: url(../images/blue/ColorBoxBottomLeft.png);
}
.bottomright1 {
  background-image: url(../images/blue/ColorBoxBottomRight.png);
}
.tophorizontal1 {
  background-image: url(../images/blue/ColorBoxTop.png);
}
.bottomhorizontal1 {
  background-image: url(../images/blue/ColorBoxBottom.png);
}
.leftvertical1 {
  background-image: url(../images/blue/ColorBoxLeft.png);
}
.rightvertical1 {
  background-image: url(../images/blue/ColorBoxRight.png);
}

.blacksection {
}

.topleft2,
.bottomleft2,
.topright2,
.bottomright2 {
  width: 5px; height: 5px;
} 

.topleft2 {
  background-image: url(../images/blue/BlackBoxTopLeft.png);
}
.topright2 {
  background-image: url(../images/blue/BlackBoxTopRight.png);
}
.bottomleft2 {
  background-image: url(../images/blue/BlackBoxBottomLeft.png);
}
.bottomright2 {
  background-image: url(../images/blue/BlackBoxBottomRight.png);
}
.tophorizontal2 {
  background-image: url(../images/blue/BlackBoxTop.png);
}
.bottomhorizontal2 {
  background-image: url(../images/blue/BlackBoxBottom.png);
}
.leftvertical2 {
  background-image: url(../images/blue/BlackBoxLeft.png);
}
.rightvertical2 {
  background-image: url(../images/blue/BlackBoxRight.png);
}

div#footer-wrapper {
  background: #34A5D3 url(../images/blue/FooterBG.png) repeat-x;
}

div#footer-wrapper .footer-right {
  background: url(../images/blue/MastheadRight.png) 100% 0 repeat-y;
}

div#footer-wrapper .footer-left {
  background: url(../images/blue/MastheadLeft.png) 0 0 repeat-y;
}


#sidebar-left,
#sidebar-right,
.vertical-tabs ul.vertical-tabs-list li.selected {
  background: #396271;
}

/* typography */

body {
  color: #fff;
}

a:link,
a:visited,
a:hover,
.submitted,
.links,
.node .taxonomy,
#aggregator .news-item .categories,
#aggregator .source,
#aggregator .age,
#forum td .name {
  color: #A8E0F7;
}

h2.title a:link,
h2.title a:visited {
  color: #fff;
}

div#breadcrumb,
div#breadcrumb a {
  color: #A8E0F7;
}

#footer {
  color:#FFFFFF;
}
  
#footer a {
  color: #252545;
}
  
/* Menu styles */

li a.active {
  color:#fff;
}

div#navigation {
  background: #396271;
}
#primarymenu .menu a {
  background: url(../images/blue/MenuDiv.png) 100% 0 repeat-y;
  color: #fff;
}

#primarymenu .menu a:hover,
#primarymenu .menu a.is-active {
  background: #233F47;
}

#secondarymenu {
  background: #233F47;
}

#secondarymenu .menu a {
  color: #fff;
}

#secondarymenu .menu a.is-active {
}

#secondarymenu .menu a:hover {
  color: #fff;
  background: #396271;
}

#mission {
  border: solid 1px #396271;
}

#mission a,
#mission a:visited {
  color: #6BC3E9;
}

.messages {
  border: 1px solid #396271 !important;
}

.messages a,
.messages a:visited {
  color: #6BC3E9 !important;
}

/* header elements */

#site-name a,
#site-name a:hover {
  color: #fff;
}

#site-slogan {
}

#search .form-text,
#search .form-submit {
  border: 1px solid #000;
}

/* comments */

.comment {
  border: 1px solid #6BC3E9;
}

.comment .user-picture {
  border: 1px solid #6BC3E9;
}

.comment .new {
  color: red;
}

#profile .profile {
  border: 1px solid #6BC3E9;
}

tr.odd {
  background: #396271;
}

tr.even {
  background: #185F82;
}

div.tabs a,
div.tabs a:visited {
  color: #4B8093;
}

.preview .node {
  background-color:#161F1F;
}

.error {
  border-color: red !important;
}

/* forum styles */

#forum td.forum,
#forum td.posts,
#forum td.topics,
#forum td.last-reply {
  background-color: #396271;
}

#forum td.container {
  background-color: #444;
}

#forum td.container a {
  color: #fff;
}

/* admin styles */

div.admin-panel .description {
  color: #fff;
}

div.admin-panel .body {
  background: #396271;
}

div.admin-dependencies,
div.admin-required {
  color:#ccc;
}

span.admin-disabled {
  font-weight: bold;
  color:#ff3333;
}

span.admin-enabled {
  font-weight: bold;
  color:#33ff33;
}

td.active {
  background-color:#396271;
}
