/* Beale Street css */
body {
  margin: 0;
  padding: 0;
  min-width: 750px;
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 85%;
  font-family: Arial, Verdana, sans-serif;
  line-height: 125%;
}

#page {
  margin: 0 auto;
  width: 95%;
}

.mastheadLeft,.mastheadRight {
  min-height:15px;
}

.footer-right,
.footer-left{
  min-height:15px;
}

#header,
#content {
  width: 100%;
}

#loginWrapper{
  margin-left:auto;
  margin-right:auto;
  padding-bottom:1.25em;
}

table.sticky-header{
  background-color:#000;
}

table.sections {
  width: 100%;
  padding: 0;
}

td.section {
  padding: 10px 10px;
}

td.section.width49 {
  width: 50%;
}

td.section.width33 {
  width: 34%;
}

table.sections {
  width: 100%;
}

td.sections {
  padding: 0px 10px;
}

.topWrapper,
.bottomWrapper {
  width: 100%;
}

.topBlock,
.bottomBlock,
.middleWrapper,
#loginWrapper {
  width: 880px;
}

#login-box {
  margin-right:15px;
  float:right;
}

.topBlock,
.middleWrapper,
.bottomBlock {
  margin-left: auto;
  margin-right: auto;
}

.middleBlock {
  margin-right: 15px;
  margin-left: 15px;
}

section#section1,
section#section2,
section#section3,
section#section4 {
  padding-top: 5px;
}

section#section1 td.section {
  padding-top: 20px;
  padding-bottom: 15px;
  padding-left: 20px;
  padding-right: 10px;
}

section#section2 td.section {
  padding-top: 20px;
  padding-bottom: 15px;
  padding-left: 20px;
  padding-right: 10px;
}
section#section3 td.section {
  padding-top: 20px;
  padding-bottom: 15px;
  padding-left: 20px;
  padding-right: 10px;
}

section#section4 td.section {
  padding-top: 20px;
  padding-bottom: 15px;
  padding-left: 20px;
  padding-right: 10px;
}

div#middlecontainer {
  margin-top: 5px;
}

#main {
  padding: 10px;
}

#sidebar-left,
#sidebar-right {
  width: 210px;
  vertical-align: top;
}

#sidebar-left .block,
#sidebar-right .block {
  padding-top: 10px;
  padding-bottom: 15px;
  padding-left: 10px;
  padding-right: 10px;
}

#divider {
  width: 5px;
}

/* various overrides */

tbody {
  border: none;
}

tbody th {
  border: none;
}

tr.odd td,
tr.even td {
  padding: 0.3em;
}

h1,
h2,
h3,
h4,
h4 {
  padding-bottom: 5px;
  margin: 10px 0;
}

h1 {
  font-size: 170%;
}

h2 {
  font-size: 130%;
}

h3 { 
  font-size: 120%;
}

h4 {
  font-size: 110%;
}

#main h2.title {
  font-size: 150%;
}

p {
  margin-top: 0.5em;
  margin-bottom: 0.9em;
}

li {
  margin-top: 0.5em;
}
/* links */

a {
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

fieldset {
  border: 1px solid #ccc;
}

fieldset legend {
  color: #fff;
}

/* elements */

pre {
  padding: 0.75em 1.5em;
  font-size: 12px;
  border: 1px solid #ddd;
}

.item-list .title {
}

/* table stuff */
table {
  font-size: 1em;
}

/* header elements */
.book-navigation .menu {
  padding-bottom:1em;
}

.book-navigation .page-up {
  width:auto;
  margin-right:auto;
}

#masthead {
  float: none;
  clear: both;
  line-height: normal;
  overflow: hidden;
}

#name-and-slogan {
  padding:5px 30px 5px 30px;
}

#site-name {
}

#site-name h1 {
  margin:0px 0 !important;
  padding:0 !important;
}

#site-name a,
#site-name a:hover {
  font-weight: normal;
  font-size: 140%;
}

#site-slogan {
  font-size: 95%;
}

#logo-title {
  width:1px;
  padding:0 30px 0 30px;
}

table#logo-name-slogan{
  width:100%;
}

img#logo {
  width: 275px;
  height: 75px;
}

/*search box*/
#search {
  float: right;
  margin-top: 15px;
  margin-right: 30px;
  margin-bottom: 15px;
  margin-left: 15px;
}

#search input {
  color: black;
}

#search h2{
  display:inline;
}
form#search-block-form {
    display: inline;
}
#search .form-text,
#search .form-submit {
  font-size: 1.1em;
  height: 1.5em;
  vertical-align: bottom;
}

#search .form-text {
  width: 8em;
  padding: 0 0.5em;
}
/*
#search label.element-invisible{
  position:relative !important;
}*/

#search-block-form div,
#search-block-form label {
  display:inline;
}

div#banner p,
div#banner h1,
div#banner h2,
div#banner .title,
div#banner .block,
div#banner .block .title,
div#banner .box {
  display: inline;
  line-height: 0;
}

/* drupal elements */
#mission {
  font-weight:bold;
  padding: 1.5em 2em;
  margin-top:20px;
  margin-bottom:20px;
  margin-right:10px;
  margin-left:10px;
  font-size: 85%;
}

#content-top {
  margin: 0 0 2em 0;
}

.form-item label {
  font-size: 1em;
}

.comment .links {
  margin-bottom: 0;
}

div#breadcrumb {
  clear: both;
  font-size: 85%;
}

#help {
  font-size: 0.9em;
  margin-bottom: 1em;
}

.region-header{
  margin:0 25px 0 25px;
}

.messages {
  color:#fff !important;
  background:none !important;
  padding: 0.3em !important;
  margin-bottom: 1em !important;
}

.title,
.title a {
  font-weight: bold;
  margin: 0 auto;
}

.submitted,
.submitted-comment,
.submitted-node {
  font-size: 0.8em;
}

.links a {
  font-weight: bold;
}

.vertical-tabs ul.vertical-tabs-list li{
  background-color:#000
}

.block,
.box {
/*	padding: 0 0 1.5em 0;*/
}

.block {
/*	padding-bottom: 0.75em; */
/*	margin-bottom: 1.5em; */
}

div ul.menu {
  padding:0 0 0.25em 0.5em;
  margin:0;
}

.item-list ul li,
.block-poll ul.links li {
  margin:0 0 0 1em;
  -webkit-margin-start: 1.25em;
}

.block-poll ul.links { 
  margin:10px 0 0 0;padding:0;
}

.block-poll ul.links li {
  border:none;
}

.block-poll ul.links a {
  font-weight:normal;
}

.section .block,
.section .box {
  padding: 0;
  padding-bottom: 0;
  margin-bottom: 0;
}

.block .title {
  margin-bottom: .25em;
}

.node {
  margin: .5em 0 .5em 0;
}

.sticky,
.node-sticky {
  padding: .5em;
}

.node .content,
.comment .content {
  margin: .5em 0 .5em 0;
}

.node .user-picture {
  border: 1px solid #ddd;
  float: right;
  margin: 0.5em;
}

.node .links {
  margin-top:5px;
}

.node-content-links .links {
  margin-left:-0.5em
}

.node-unpublished,
.comment-unpublished {
  background-color:rgb(155, 144, 144);
}
.comment {
  padding: .5em;
  margin-bottom: 1em;
}

.comment .title a {
  font-weight: normal;
}

.comment .new {
  text-align: right;
  font-weight: bold;
  font-size: 0.8em;
  float: right;
}

.comment .user-picture {
  float: right;
  margin: 0.5em;
}

/* added for js button add shortcuts */
#branding .add-or-remove-shortcuts{
/* padding:0;*/
  margin:0 0 0 0;
  float:left;
}

#branding h1.title {
/*	color: #000;
  margin: 0;
  padding-bottom: 10px;
  font-size: 1.385em;
  font-weight: normal; */
  float: left;
}

#aggregator .feed-source {
  border: 1px solid #ccc;
  padding: 1em;
  margin: 1em 0;
}

#aggregator .news-item .categories,
#aggregator .source,
#aggregator .age {
  font-style: italic;
  font-size: 0.9em;
}

#aggregator .title {
  margin-bottom: 0.5em;
}

#aggregator h3 {
  margin-top: 1em;
}

#forum table {
  width: 100%;
}

#forum td {
  padding: 0.5em;
}

#forum td.topics, #forum td.last-reply, #forum td.posts, #forum td.replies {
  text-align:center;
}  

#forum td.statistics,
#forum td.settings,
#forum td.pager {
  height: 1.5em;
  border: 1px solid #bbb;
}

#forum td .name {
  margin:3px 0 0 0;
}

#forum th {
  background-color:rgb(35, 63, 71);
  margin:0;
  padding:0;
  text-align:center;
}

#forum td .links {
  padding-top: 0.7em;
  font-size: 0.9em;
}

#profile .profile {
  clear: both;
  padding: .5em;
  margin: 1em 0em;
}

#profile .profile .name {
  padding-bottom: 0.5em;
}

.block-forum h3 {
  margin-bottom: .5em;
}

div.admin-panel h3 {
  padding: 5px 8px 5px;
  margin: 0;
}

div.admin-requirements{
  color:#ccc;
}

.block-region {
  color: #000;
}

/* Primary and Secondary links */
#primarymenu {
  line-height: 30px;
}

#primarymenu ul.menu,
#secondarymenu ul.menu {
  padding:0;
  margin:0;
  list-style:none;
}

#primarymenu .menu li.menu-item {
  display:inline;
}

#primarymenu .menu a {
  display:block;
  float:left;
  padding:0px 14px 0px 14px;
  margin: 0px 0px 0px 0px;
  font-size: 95%;
}

#primarymenu .menu a {
  background-position:0% 0px;
}

#primarymenu .menu a:hover {
  text-decoration: none;
  background-position:0% -42px;
}

#primarymenu .menu a.active {
  background-position: 0% -84px;
}

#secondarymenu {
}

#secondary {
  margin:0;
  padding:0;
  list-style:none;
}

#secondarymenu .menu li.menu-item {
  margin:0;
  padding:0;
  display:inline;
}

#secondarymenu .menu li a {
  float:left;
  display:block;
  font-size: 90%;
  padding:0px 14px 0px 14px;
}

#secondarymenu .menu a:hover {
  text-decoration: none;
}

#secondarymenu .menu a.active {
  font-weight:bold;
}

ul.links li {
  border-left: 1px solid #fff;
}

ul.links li.first {
  border: none;
}

/* bonus typography */

a.readon,
a:hover.readon {
  margin-top: 15px;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 2px;
  padding-bottom: 2px;
  font-weight: bold;
  text-decoration: none;
  text-align: center;
}

/* footer section */

#footer {
  text-align: center;
  margin:0;
  font-size: 90%;
  padding: 15px;
}
  
.bottomWrapper {
  margin-top: 5px;
}
  
#footer a {
  font-weight: bold;
}

img#roopletheme {
  width: 100px;
  height: 20px;
}

.clr {
  clear: both;
}
.clearfix:after {
    clear: both;
    visibility: hidden;
    content: ".";
    display: block;
    height: 0;
}
.page li.expanded {
  list-style-image: url(images/menu-expanded.png) !important;
}

.page li.collapsed {
  list-style-image: url(images/menu-collapsed.png) !important;
}

.page li.leaf {
  list-style-image: url(images/menu-leaf.png) !important;
}

html.js fieldset.collapsible .fieldset-legend {
  background: url(images/menu-expanded.png) no-repeat 5px 65%; padding-left: 15px;
}

html.js fieldset.collapsed .fieldset-legend {
  background-position: 5px 50%; background-image: url(images/menu-collapsed.png);
}

/*
.node-forum .content {
margin:0 0 0.5em 0;
}
*/

.node .field-type-taxonomy-term-reference {
  font-size: 0.8em;
  line-height: 100%;
}

td.menu-disabled {
  background: none;
}

#suckerfishmenu div .contextual-links-wrapper {
  display:none;
}

#banner div .contextual-links-wrapper {
  display:none;
}

.sticky-enabled.tableheader-processed.sticky-table{
  width:100%;
}

#admin-dblog{
  color:#000;
}

.maintenance-page #logo-title {
  width:100%;
}

.maintenance-page #name-and-sloagen {
}

.maintenance-page #site-name {
  margin:0;
}

.maintenance-page #site-slogan {
}

#block-node-recent table {
  width:100%;
}

.rooplelogo {
  padding-top:15px;
}
input#edit-pass,
input#edit-name {
  color: #000;
}
input#edit-submit {
  color: #000;
}