{#
<?php
/**
 * @file
 * Beale Street page.tpl.php
 *
 * for Default theme implementation see module/system/page.tpl.php
 *
 */
?>
#}

<div class="page">
  <div id="loginWrapper">
    <div id="login-box">
      {% if logged_in %}
        {{ 'You are logged in as'|t }} <a href="/user" title="name"  class="loginwraper user-name">{{ user.displayname }}: <a href="/user/logout" class="loginwraper logout">{{ 'logout'|t }}</a>
      {% else %}
       {{ 'Welcome Visitor'|t }} <a href="/user/login" title="Login/Register" class="loginwraper login">{{ 'login'|t }}</a>
      {% endif %} 
    </div>
  </div><!-- /login -->
  <div class="topWrapper">
    <div class="topBlock">
      <div id="masthead">
        <header id="header" class="clearfix">
          <div class="mastheadRight">
            <div class="mastheadLeft">
              {% if page.search_box or page.site_name or page.site_slogan or page.logo %}
                <table id="logo-name-slogan" border="0">
                  <tr>
                    {% if page.logo %}
                      <td id="logo-title">
                        {# <a href="<?php print $front_page ?>" title="<?php print t('Home'); ?>"><img src="<?php print $logo; ?>" alt="<?php print t('Home'); ?>" id="logo" /></a> #}
                        {{ page.logo }}
                        <!-- /Logo -->
                      </td>
                    {% endif %}
                    {% if page.site_name or page.site_slogan %}
                      <td id="name-and-slogan">
                        <div>
                          {% if page.site_name %}
                            <div id="site-name">
                              {# <h1><a href="<?php print $front_page ?>" title="<?php print t('Home'); ?>"><?php print $site_name; ?></a></h1> #}
                              {{ page.site_name }}
                            </div><!-- /site-name -->
                          {% endif %}
                          {% if page.site_slogan %}
                            <div id="site-slogan">
                              {{ page.site_slogan }}
                            </div><!-- /site-slogan -->
                          {% endif %}
                        </div>
                      </td>
                    {% endif %}
                    {% if page.search_box %}
                      <td id="searchbox">
                        <div id="search">
                          {{ page.search_box }}
                        </div><!-- /searchbox -->
                      </td>
                    {% endif %}
                  </tr>
                </table>
              {% endif %}
              {% if page.header %} 
                <div class="clearfix">
                  {{ page.header }}
                </div><!-- /Header -->
              {% endif %}
            </div> <!-- /mastheadLeft -->
          </div> <!-- /mastheadRight -->
        </header> <!-- /header -->
      </div> <!-- /masthead -->
    </div> <!-- /topBlock -->
  </div>  <!-- /topWrapper -->
  <div class="middleWrapper">
    <div class="middleBlock">
      {% if page.banner %}
        <div id='banner'>
          {{ page.banner }}
        </div>
      {% endif %}
      <div id="navigation">
        {% if page.primary_menu %}
          <div id="primarymenu" class="clearfix links">
            {# <?php print theme('links__system_main_menu', array('links' => $main_menu, 'attributes' => array('id' => array('primary'), 'class' => array('clearfix')))); ?> #}
            {{ page.primary_menu }}
          </div>
        {% endif %}
        
        {% if page.secondary_menu %}
          <div id="secondarymenu" class="clearfix links">
            {# <?php print theme('links__system_secondary_menu', array('links' => $secondary_menu, 'attributes' => array('id' => array('secondary'), 'class' => array('clearfix')))); ?> #}
            {{ page.secondary_menu }}
          </div>
        {% endif %}
      </div> <!-- /navigation -->
      {% if page.suckerfish_menu %}
        <div id="suckerfishmenu" class="clearfix">
          {{ page.suckerfish_menu }}
        </div>
      {% endif %}

      {% if page.user1 or page.user2 or page.user3 %}
      {% set featured_count_1 = 0 %}
      {% if page.user1 %}{% set featured_count_1 =  featured_count_1 + 1 %}{% endif %}
      {% if page.user2 %}{% set featured_count_1 =  featured_count_1 + 1 %}{% endif %}
      {% if page.user3 %}{% set featured_count_1 =  featured_count_1 + 1 %}{% endif %}
      {% set section1width %}width{{ (100 / featured_count_1) // 1 }}{% endset %}
      
        <section class="clr" id="section1">
          <table class="sections" cellspacing="0" cellpadding="0">
            <tr>
              <td class="topleft1"></td>
              <td class="tophorizontal1" colspan="{{ featured_count_1 }}"></td>
              <td class="topright1"></td>
            </tr>
            <tr valign="top">
            <td  class="leftvertical1">&nbsp;</td>
            {% if page.user1 %}
              <td class="section colorsection {{ section1width }}">
                {{ page.user1 }}
              </td>
            {% endif %}
            {% if page.user2 %}
              <td class="section colorsection {{ section1width }}">
                {{ page.user2 }}
              </td>
            {% endif %}  
            {% if page.user3 %}
              <td class="section colorsection {{ section1width }}">
                {{ page.user3 }}
              </td>
            {% endif %}  
            <td class="rightvertical1">&nbsp;</td>
            </tr>
            <tr>
              <td class="bottomleft1"></td>
              <td class="bottomhorizontal1" colspan="{{ featured_count_1 }}"></td>
              <td class="bottomright1"></td>
            </tr>
          </table>
        </section>  <!-- /section1 -->
      {% endif %}

      {% if page.user4 or page.user5 or page.user6 %}
      {% set featured_count_2 = 0 %}
      {% if page.user4 %}{% set featured_count_2 =  featured_count_2 + 1 %}{% endif %}
      {% if page.user5 %}{% set featured_count_2 =  featured_count_2 + 1 %}{% endif %}
      {% if page.user6 %}{% set featured_count_2 =  featured_count_2 + 1 %}{% endif %}
      {% set section2width %}width{{ (100 / featured_count_2) // 1 }}{% endset %}

        <section class="clr" id="section2">
          <table class="sections" cellspacing="0" cellpadding="0">
            <tr>
              <td class="topleft2"></td>
              <td class="tophorizontal2" colspan="{{ featured_count_2 }}"></td>
              <td class="topright2"></td>
            </tr>
            <tr valign="top">
              <td  class="leftvertical2">&nbsp;</td>
              {% if page.user4 %}
                <td class="section blacksection {{ section2width }}">
                  {{ page.user4 }}
                </td>
              {% endif %}  
              {% if page.user5 %}
                <td class="section blacksection {{ section2width }}">
                  {{ page.user5 }}
                </td>
              {% endif %}
                {% if page.user6 %}
                <td class="section blacksection {{ section2width }}">
                  {{ page.user6 }}
                </td>
              {% endif %}
              <td class="rightvertical2">&nbsp;</td>
            </tr>
            <tr>
              <td class="bottomleft2"></td>
              <td class="bottomhorizontal2" colspan="{{ featured_count_2 }}"></td>
              <td class="bottomright2"></td>
            </tr>
          </table>
        </section>  <!-- /section2 -->
      {% endif %}
      <div id="middlecontainer">
        <table border="0" cellpadding="0" cellspacing="0" id="content">
          <tr>
            {% if page.sidebar_first %}
            <td id="sidebar-left">
              {{ page.sidebar_first }}
            </td>
            {% endif %}
            <td valign="top">
              {% if page.mission %}
              <div id="mission"> 
                {{ page.mission }}
              </div>
              {% endif %}
              <div id="main">
                  {% if page.breadcrumb %}
                   <div id="breadcrumb">
                     {{ page.breadcrumb }}
                   </div>
                  {% endif %}
                  {% if page.content_top %}<div id="content-top">{{ page.content_top }}</div>{% endif %}
{#
                  <?php if ($title): ?>
                    <div id="branding" class="clearfix">
                      <?php print render($title_prefix); ?>
                      <h1 class="title"><?php print render($title); ?></h1>
                      <?php print render($title_suffix); ?>
                    </div>
                  {% endif %}
                  <div class="tabs"><?php print render($tabs) ?></div>
                  <?php if ($action_links): ?>
                    <!-- action links -->
                    <ul class="action-links">
                      <?php print render($action_links); ?>
                    </ul>
                    <!-- /action links -->
                  {% endif %}
#}
                  {% if page.help %}
                    <!-- Help region -->
                    {{ page.help }}
                    <!-- /Help region -->
                  {% endif %}
                  {% if page.messages %}{{ page.messages }}{% endif %}
                  {{ page.content }}
                  {# <?php // print $feed_icons; ?> #}
                  {% if page.content_bottom %}<div id="content-bottom">{{ page.content_bottom }}</div>{% endif %}
                </div>
              </td>
              {% if page.sidebar_second %}
                <td id="sidebar-right">
                  {{ page.sidebar_second }}
                </td>
              {% endif %}
          </tr>
        </table>
      </div>

      {% if page.user7 or page.user8 or page.user9 %}
      {% set featured_count_3 = 0 %}
      {% if page.user7 %}{% set featured_count_3 =  featured_count_3 + 1 %}{% endif %}
      {% if page.user8 %}{% set featured_count_3 =  featured_count_3 + 1 %}{% endif %}
      {% if page.user9 %}{% set featured_count_3 =  featured_count_3 + 1 %}{% endif %}
      {% set section3width %}width{{ (100 / featured_count_3) // 1 }}{% endset %}
        <section class="clr" id="section3">
          <table class="sections" cellspacing="0" cellpadding="0">
            <tr>
              <td class="topleft1"></td>
              <td class="tophorizontal1" colspan="{{ featured_count_3 }}"></td>
              <td class="topright1"></td>
            </tr>
            <tr valign="top">
              <td  class="leftvertical1">&nbsp;</td>
              {% if page.user7 %}
                <td class="section colorsection {{ section3width }}">
                  {{ page.user7 }}
                </td>
              {% endif %}
              {% if page.user8 %}
                <td class="section colorsection {{ section3width }}">
                  {{ page.user8 }}
                </td>
              {% endif %}  
              {% if page.user9 %}
                <td class="section colorsection {{ section3width }}">
                  {{ page.user9 }}
                </td>
              {% endif %}  
              <td class="rightvertical1">&nbsp;</td>
            </tr>
            <tr>
              <td class="bottomleft1"></td>
              <td class="bottomhorizontal1" colspan="{{ featured_count_3 }}"></td>
              <td class="bottomright1"></td>
            </tr>
          </table>
        </section>  <!-- /section3 -->
      {% endif %}

      {% if page.user10 or page.user11 or page.user12 %}
      {% set featured_count_4 = 0 %}
      {% if page.user10 %}{% set featured_count_4 =  featured_count_4 + 1 %}{% endif %}
      {% if page.user11 %}{% set featured_count_4 =  featured_count_4 + 1 %}{% endif %}
      {% if page.user12 %}{% set featured_count_4 =  featured_count_4 + 1 %}{% endif %}
      {% set section3width %}width{{ (100 / featured_count_4) // 1 }}{% endset %}

        <section class="clr" id="section4">
          <table class="sections" cellspacing="0" cellpadding="0">
            <tr>
              <td class="topleft2"></td>
              <td class="tophorizontal2" colspan="{{ featured_count_4 }}"></td>
              <td class="topright2"></td>
            </tr>
            <tr valign="top">
              <td  class="leftvertical2">&nbsp;</td>
                {% if page.user10 %}
                  <td class="section blacksection {{ section4width }}">
                {{ page.user10 }}
              </td>
              {% endif %}
              {% if page.user11 %}
                <td class="section blacksection {{ section4width }}">
                  {{ page.user11 }}
                </td>
              {% endif %}
              {% if page.user12 %}
                <td class="section blacksection {{ section4width }}">
                  {{ page.user12 }}
                </td>
              {% endif %}
              <td class="rightvertical2">&nbsp;</td>
            </tr>
            <tr>
              <td class="bottomleft2"></td>
              <td class="bottomhorizontal2" colspan="{{ featured_count_4 }}"></td>
              <td class="bottomright2"></td>
            </tr>
          </table>
        </section>  <!-- /section4 -->
      {% endif %}
    </div>	 <!-- /middleBlock -->
  </div>	 <!-- /middleWrapper -->
  <div class="bottomWrapper">
    <div class="bottomBlock">
      <div id="footer-wrapper" class="clearfix">
        <div class="footer-right">
          <div class="footer-left">
            {% if page.footer or page.footer_message or footerlogo %}
              <footer id="footer">
                {% if page.footer %}
                  {{ page.footer }}
                {% endif %}
                {% if page.footer_message %}
                  {{ page.footer_message }}
                {% endif %}
                {% if footerlogo %}
                  {{ footerlogo|raw }}
                {% endif %}
              </footer>
            {% endif %}	
          </div> <!-- /footer-left -->
        </div> <!-- /footer-right -->
      </div> <!-- /footer-wrapper -->
    </div> <!-- /bottomBlock -->
  </div> <!-- /bottomWrapper -->
  <?php // print $closure ?>
</div> <!-- /page -->
